<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="public/assets/css/burger_styles.css" type="text/css" />
	<title>Burger Time!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/public/assets/js/index.js"></script>
</head>
<img id="bgtLogo" src="../../public/assets/img/BurgerTimeLogoNoBlue.png" alt="Burger Time Logo">

<body>
	{{{ body }}}
</body>

</html>