body {
    background-color:  #f6b119;
    font-family: "Press Start 2P", cursive;
}

#bgtLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 50%;
}

.burgers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.peter-pepper {
    width: 100%;
}

.burger-list {
    font-size: large;
}

.button {
    background-color: #1a9a45; /* Green */
    border: none;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 75px;
}


.input {
    border: none;
    border-bottom: 2px solid #e5170a;
    background-color: #f6b119;
    font-size: large;
}

.bottom-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actual-b-image {
    width: 25%;
}
